<div class="row">
  <div class="col-sm-12 text-left">
    <br />
    <hr />
    <form #data="ngForm" (ngSubmit)="onSub(data)">
      <label for="email" class="float-left">Email</label>
      <input
        ngModel
        placeholder="alive@forever.com"
        name="email"
        type="text"
        class="form-control"
        required
        email
      />

      <br />
      <label for="password" class="float-left">Password</label>
      <input
        ngModel
        placeholder="1234"
        name="password"
        type="password"
        class="form-control"
        required
      />
      <br />
      <button [disabled]="!data.valid" class="btn btn-primary float-left" type="submit">
        Login
      </button>
      <button class="btn btn-danger" style="margin-left: 10px;" routerLink="/">
        Back
      </button>
    </form>
  </div>
</div>
